<div class="container">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Shopping Корзина</li>
        </ol>
    </div>
    <partial name="Partial/_CartInfo"/>
</div><!--/#cart_items-->
