
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Контакты</h2>
                <div id="gmap" class="contact-map">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <partial name="Partial/_ContactForm" />
            </div>
            <div class="col-sm-4">
                <partial name="Partial/_ContactInfo" />
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

@section Styles{

}
@section Scripts{
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/js/gmaps.js"></script>
    <script src="~/js/contact.js"></script>
}